# NEW YORK CITY INSPECTION DATA

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('inspections.csv')

In [3]:
df.head()

,Record ID,Certificate Number,Business Name,Inspection Date,Inspection Result,Industry,Borough,Building Number,Street,Street 2,Unit Type,Unit,Description,City,State,Zip,Longitude,Latitude
0,16005-2019-ENFO,05439358,STAY FRESH DELI & GRILL CORP.,2019-03-14T00:00:00.000,Violation Issued,Grocery-Retail - 808,Brooklyn,1695A,BROADWAY,NaN,NaN,NaN,NaN,BROOKLYN,NY,11207.0,-73.912103,40.683851
1,62345-2018-ENFO,03090119,DOWNTOWN BRONX DELI CORP.,2018-12-07T00:00:00.000,Pass,Grocery-Retail - 808,Bronx,622,MELROSE AVE,NaN,NaN,NaN,NaN,BRONX,NY,10455.0,-73.916955,40.817842
2,2078462-DCA,09444093,JZ CLEANERS 2 INC,2018-12-10T00:00:00.000,Warning,Laundries,Manhattan,365,E 62ND ST,NaN,NaN,NaN,NaN,NEW YORK,NY,10065.0,-73.961278,40.761783
3,34915-2017-ENFO,09378505,"UWAGBA, JOSEPH OMONIYI",2017-05-26T00:00:00.000,No Violation Issued,Electronic Store - 001,Queens,11207,ROCKAWAY BLVD,NaN,NaN,NaN,NaN,SOUTH OZONE PARK,NY,11420.0,-73.826037,40.677259
4,60128-2018-ENFO,50101072,ROSARIO BROTHERS DELI GROCERY CORP.,2018-12-06T00:00:00.000,No Violation Issued,Tobacco Retail Dealer,Bronx,1082,OLMSTEAD AVE,NaN,NaN,NaN,NaN,BRONX,NY,10472.0,-73.853507,40.829038

In [4]:
df.tail()

,Record ID,Certificate Number,Business Name,Inspection Date,Inspection Result,Industry,Borough,Building Number,Street,Street 2,Unit Type,Unit,Description,City,State,Zip,Longitude,Latitude
217601,59040-2019-ENFO,03106888,157 GERARD CORP,2019-11-25T00:00:00.000,Pass,Grocery-Retail - 808,Bronx,119,E 157TH ST,NaN,NaN,NaN,NaN,BRONX,NY,10451.0,-73.926322,40.825443
217602,59150-2019-ENFO,50113907,1271 D & G CORP.,2019-11-24T00:00:00.000,No Violation Issued,Tobacco Retail Dealer,Brooklyn,1271,RALPH AVE,NaN,NaN,NaN,NaN,BROOKLYN,NY,11236.0,-73.920009,40.645446
217603,59473-2019-ENFO,03089687,PARADISE FRUIT & VEGETABLE CORP.,2019-11-27T00:00:00.000,Pass,Grocery-Retail - 808,Brooklyn,1622,BAY RIDGE PKWY,NaN,NaN,NaN,NaN,BROOKLYN,NY,11204.0,-74.000324,40.616001
217604,59652-2019-ENFO,05444735,BED GAVANT CORP.,2019-11-27T00:00:00.000,Violation Issued,Misc Non-Food Retail - 817,Brooklyn,1910,AVENUE M,NaN,NaN,NaN,NaN,BROOKLYN,NY,11230.0,-73.955972,40.618449
217605,58929-2019-ENFO,50113535,BFB SERVICE INC.,2019-11-22T00:00:00.000,No Violation Issued,Tobacco Retail Dealer,Bronx,1865,BRUCKNER BLVD,NaN,NaN,NaN,NaN,BRONX,NY,10472.0,-73.861875,40.826013

In [5]:
df.columns

Index(['Record ID', 'Certificate Number', 'Business Name', 'Inspection Date',
       'Inspection Result', 'Industry', 'Borough', 'Building Number', 'Street',
       'Street 2', 'Unit Type', 'Unit', 'Description', 'City', 'State', 'Zip',
       'Longitude', 'Latitude'],
      dtype='object')

In [6]:
df.dtypes

Record ID              object
Certificate Number     object
Business Name          object
Inspection Date        object
Inspection Result      object
Industry               object
Borough                object
Building Number        object
Street                 object
Street 2               object
Unit Type              object
Unit                   object
Description            object
City                   object
State                  object
Zip                   float64
Longitude             float64
Latitude              float64
dtype: object

# 1.Rename all the columns by replacing space '', with '_'.

In [7]:

df.rename(columns={'Inspection Result':'Inspection_Result','Inspection Date':'Inspection_Date','Record ID':'Record_ID',
                  'Certificate Number':'Certificate_Number','Building Number':'Building_Number','Business Name':'Business_Name'}, inplace=True)

In [8]:
df.rename(columns={'Unit Type':'Unit_Type','Street 2':'Street_2'}, inplace=True)

In [9]:
df.columns

Index(['Record_ID', 'Certificate_Number', 'Business_Name', 'Inspection_Date',
       'Inspection_Result', 'Industry', 'Borough', 'Building_Number', 'Street',
       'Street_2', 'Unit_Type', 'Unit', 'Description', 'City', 'State', 'Zip',
       'Longitude', 'Latitude'],
      dtype='object')

In [10]:
df['Inspection_Date']=pd.to_datetime(df.Inspection_Date)
df.Inspection_Date.dt.year.head()

0    2019
1    2018
2    2018
3    2017
4    2018
Name: Inspection_Date, dtype: int64

# 2. Want to know how many total null values are there in  each column

In [11]:
df.isnull().sum()

Record_ID                  0
Certificate_Number         0
Business_Name            716
Inspection_Date            0
Inspection_Result          0
Industry                 288
Borough                  171
Building_Number         3041
Street                   150
Street_2              213684
Unit_Type             206802
Unit                  207265
Description           212914
City                     185
State                    185
Zip                      152
Longitude               1575
Latitude                1575
dtype: int64

# 3. Show the dataframe containing datas of Inspection Result that was Failed in BROOKLYN City.

In [12]:
df[(df.Inspection_Result=='Fail') & (df.City=='BROOKLYN')].head()

,Record_ID,Certificate_Number,Business_Name,Inspection_Date,Inspection_Result,Industry,Borough,Building_Number,Street,Street_2,Unit_Type,Unit,Description,City,State,Zip,Longitude,Latitude
734,57725-2017-ENFO,03071741,STILL WELL 99 CENTS UP INC,2017-09-14,Fail,Misc Non-Food Retail - 817,Brooklyn,2009,STILLWELL AVE,NaN,NaN,NaN,NaN,BROOKLYN,NY,11223.0,-73.985416,40.597601
1500,12215-2019-ENFO,40005535,ATLANTIC COAST TRANSPORT INC,2019-02-25,Fail,Fuel Oil Dealer - 814,Brooklyn,245,MESEROLE AVE,NaN,NaN,NaN,NaN,BROOKLYN,NY,11222.0,-73.946168,40.729232
1659,4171-UNIT,09455381,"GRAY LINE NEW YORK TOURS, INC.",2018-12-11,Fail,Sightseeing Bus - 078,Brooklyn,43,2ND AVE,NaN,NaN,NaN,NaN,BROOKLYN,NY,11215.0,-73.992148,40.674064
1706,62547-2018-ENFO,03088153,"BOGOPA-JUNIUS, INC.",2018-12-12,Fail,Supermarket - 819,Brooklyn,417,JUNIUS ST,NaN,NaN,NaN,NaN,BROOKLYN,NY,11212.0,-73.901629,40.664415
3117,44795-2017-ENFO,03070607,SUMMERS BK LLC,2017-07-06,Fail,Grocery-Retail - 808,Brooklyn,155,S 4TH ST,NaN,APT,1,NaN,BROOKLYN,NY,11211.0,-73.961999,40.711570

# 4. In 2019, on their inspection result, how many people Passed ( in percentage)?

In [13]:
df_2019=df.Inspection_Date.dt.year==2019
df_2019.head()

0     True
1    False
2    False
3    False
4    False
Name: Inspection_Date, dtype: bool

In [14]:
df_2019.value_counts(normalize=True)*100

False    70.499894
True     29.500106
Name: Inspection_Date, dtype: float64

# 5. Which city had the highest number of inspections and how many inspections were conducted in that city?

In [15]:
df.City.value_counts(ascending=False)

BROOKLYN          65089
NEW YORK          55495
BRONX             35179
STATEN ISLAND      8736
JAMAICA            6223
                  ...
OMAHA                 1
MILTON                1
CLIFFSIDE PARK        1
KINGS PARK            1
INDIANAPOLIS          1
Name: City, Length: 250, dtype: int64

# 6. Replace all the missing values in the columns Business Name and replace it with a string value 'Unknown'

In [16]:
df['Business_Name'].replace(np.NaN, 'Unknown', inplace=True)
df.isnull().sum()

Record_ID                  0
Certificate_Number         0
Business_Name              0
Inspection_Date            0
Inspection_Result          0
Industry                 288
Borough                  171
Building_Number         3041
Street                   150
Street_2              213684
Unit_Type             206802
Unit                  207265
Description           212914
City                     185
State                    185
Zip                      152
Longitude               1575
Latitude                1575
dtype: int64

In [17]:
# 7. Show in a graph how the inspection number increased or decreased with year

df.head()

,Record_ID,Certificate_Number,Business_Name,Inspection_Date,Inspection_Result,Industry,Borough,Building_Number,Street,Street_2,Unit_Type,Unit,Description,City,State,Zip,Longitude,Latitude
0,16005-2019-ENFO,05439358,STAY FRESH DELI & GRILL CORP.,2019-03-14,Violation Issued,Grocery-Retail - 808,Brooklyn,1695A,BROADWAY,NaN,NaN,NaN,NaN,BROOKLYN,NY,11207.0,-73.912103,40.683851
1,62345-2018-ENFO,03090119,DOWNTOWN BRONX DELI CORP.,2018-12-07,Pass,Grocery-Retail - 808,Bronx,622,MELROSE AVE,NaN,NaN,NaN,NaN,BRONX,NY,10455.0,-73.916955,40.817842
2,2078462-DCA,09444093,JZ CLEANERS 2 INC,2018-12-10,Warning,Laundries,Manhattan,365,E 62ND ST,NaN,NaN,NaN,NaN,NEW YORK,NY,10065.0,-73.961278,40.761783
3,34915-2017-ENFO,09378505,"UWAGBA, JOSEPH OMONIYI",2017-05-26,No Violation Issued,Electronic Store - 001,Queens,11207,ROCKAWAY BLVD,NaN,NaN,NaN,NaN,SOUTH OZONE PARK,NY,11420.0,-73.826037,40.677259
4,60128-2018-ENFO,50101072,ROSARIO BROTHERS DELI GROCERY CORP.,2018-12-06,No Violation Issued,Tobacco Retail Dealer,Bronx,1082,OLMSTEAD AVE,NaN,NaN,NaN,NaN,BRONX,NY,10472.0,-73.853507,40.829038

In [37]:
df_new=df.groupby('Inspection_Result').Borough.count()
df_new=pd.DataFrame(df_new)
df_new.head()

                    Borough
Inspection_Result
Business Padlocked       50
Closed                 3641
Completed                15
Condemned                 9
Confiscated               1